<html>
  <head>
    <title>BCIT Parkly</title>

    <link rel="stylesheet" type="text/css" href="main.css" />
    <script type="module" src="map.js"></script>
    <script src="https://kit.fontawesome.com/39589cb536.js" crossorigin="anonymous"></script>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k],
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "AIzaSyAAxoG1moijgPbs_BwZYDSlvGzQHzC_Ino", v: "weekly" });
    </script>
  </head>

  <body>
    <!-- The top header box -->
    <header>
      <img src="img/bcit-logo.png" alt="BCIT Logo">

      <!--Header title and subtitle-->
      <div class="header-titles">
        <h2>Parkly</h2>
        <h6>Downtown Campus</h6>
      </div>

      <!--Header tabs-->
      <div class="header-tabs">
        <a href="/">Find Parking</a>
        <a href="/permits">Permits & Rates</a>
        <a href="/reservations">My Reservations</a>
        <a href="/help">Help & Support</a>
      </div>
    </header>
    
    <!--Breadcrum bar under the header bar-->
    <section class="breadcrumb-bar">
      <div class="subheading">
        <!--❗❗❗ WILL MAKE THIS DYNAMIC LATER ❗❗❗-->
        <a href="/">Home</a>
        <span class="seperator">›</span>
        <span class="current-pg">Find Parking</span>
      </div>
    </section>

    <!-- The Main Body Wrapper (Row) -->
    <div class="app-container">
    
    <!-- Sidebar Box (Left) -->
    <aside class="sidebar">
      <div class="sidebar-header">Parking Lot List</div>
      
      <!-- Parking lots list -->
      <div class="parking-list">
        <!--❗❗❗ WILL MAKE THIS DYNAMIC LATER USING A FOR LOOP TO LOOP THRU THE LOTS LIST ❗❗❗-->
        <!--Individual parking lot card #1-->
        <div class="lot-card">
          <!--Header & details button-->
          <div class="lot-header-btn">
            <h3>North Parkade</h3>
            <button>
              Details
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>

          <p>555 Seymour Street</p>
          <p>Vancouver, BC V6B 3H6</p>

          <!--Status pill & number of empty lots-->
          <div class="status">
            <p class="status-pill">
              <i class="fa-solid fa-circle"></i>
              Available
            </p>
            <p class="open-spots">12 spots open</p>
          </div>

          <!--Schedule table with times and prices-->
          <div class="schedule-table">
            <div class="schedule-row">
              <div class="label">Daytime</div>
              <div class="details">
                <p class="time">8:00 AM – 6:00 PM</p>
                <p class="price">$3.00 / 30 min – Max $25.00</p>
              </div>
            </div>

              <div class="schedule-row">
                <div class="label">Evenings</div>
                <div class="details">
                  <p class="time">6:00 PM – 12:00 AM</p>
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>

              <div class="schedule-row">
                <div class="label">Weekends</div>
                <div class="details">
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>
          </div>

          <!--Valid permits list-->
          <div class="valid-permits">
            <h4>Valid Permits</h4>
            <ul>
              <li>Student</li>
              <li>Faculty & Staff</li>
              <li>Visitor</li>
            </ul>
          </div>
        </div>

         <!--Individual parking lot card #2-->
        <div class="lot-card">
          <!--Header & details button-->
          <div class="lot-header-btn">
            <h3>North Parkade</h3>
            <button>
              Details
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>

          <p>555 Seymour Street</p>
          <p>Vancouver, BC V6B 3H6</p>

          <!--Status pill & number of empty lots-->
          <div class="status">
            <p class="status-pill">
              <i class="fa-solid fa-circle"></i>
              Available
            </p>
            <p class="open-spots">12 spots open</p>
          </div>

          <!--Schedule table with times and prices-->
          <div class="schedule-table">
            <div class="schedule-row">
              <div class="label">Daytime</div>
              <div class="details">
                <p class="time">8:00 AM – 6:00 PM</p>
                <p class="price">$3.00 / 30 min – Max $25.00</p>
              </div>
            </div>

              <div class="schedule-row">
                <div class="label">Evenings</div>
                <div class="details">
                  <p class="time">6:00 PM – 12:00 AM</p>
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>

              <div class="schedule-row">
                <div class="label">Weekends</div>
                <div class="details">
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>
          </div>

          <!--Valid permits list-->
          <div class="valid-permits">
            <h4>Valid Permits</h4>
            <ul>
              <li>Student</li>
              <li>Faculty & Staff</li>
              <li>Visitor</li>
            </ul>
          </div>
        </div>

         <!--Individual parking lot card #3-->
        <div class="lot-card">
          <!--Header & details button-->
          <div class="lot-header-btn">
            <h3>North Parkade</h3>
            <button>
              Details
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>

          <p>555 Seymour Street</p>
          <p>Vancouver, BC V6B 3H6</p>

          <!--Status pill & number of empty lots-->
          <div class="status">
            <p class="status-pill">
              <i class="fa-solid fa-circle"></i>
              Available
            </p>
            <p class="open-spots">12 spots open</p>
          </div>

          <!--Schedule table with times and prices-->
          <div class="schedule-table">
            <div class="schedule-row">
              <div class="label">Daytime</div>
              <div class="details">
                <p class="time">8:00 AM – 6:00 PM</p>
                <p class="price">$3.00 / 30 min – Max $25.00</p>
              </div>
            </div>

              <div class="schedule-row">
                <div class="label">Evenings</div>
                <div class="details">
                  <p class="time">6:00 PM – 12:00 AM</p>
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>

              <div class="schedule-row">
                <div class="label">Weekends</div>
                <div class="details">
                  <p class="price">$2.00 / 30 min – Max $10.00</p>
                </div>
              </div>
          </div>

          <!--Valid permits list-->
          <div class="valid-permits">
            <h4>Valid Permits</h4>
            <ul>
              <li>Student</li>
              <li>Faculty & Staff</li>
              <li>Visitor</li>
            </ul>
          </div>
        </div>
      </div>
    </aside>

    <!-- The map, centered at BCIT DTC -->
    <main style="flex: 1; position: relative">
      <gmp-map center="49.2835,-123.1153" zoom="19.3" map-id="dtc-map-id">
      </gmp-map>
    </main>
  </body>
</html>
