/*
reservation styles
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  position: relative;
  flex: 1;
}

/* --- HEADER BAR ---*/
header {
  background-color: #003366;
  color: white;
  display: flex;
  align-items: stretch;
  padding: 0 1.5rem;
  height: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  flex-shrink: 0;
}

/*BCIT logo*/
header img {
  background-color: white;
  border-radius: 3px;
  height: 40px;
  margin: 10px 10px;
}

/*Header title and subtitle*/
.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  margin-right: 2.5rem;
}

/*BCIT Parkly title*/
header h2 {
  margin: 0;
  font-size: 1.1rem;
  margin-right: 2.5rem;
  white-space: nowrap;
}

/*BCIT Downtown campus subtitle*/
header h6 {
  margin: 0;
  opacity: 0.7;
  font-weight: normal;
}

/*Header page tabs*/
.header-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/*Tab links in header (Find Parking, My Reservations, ...)*/
.header-tabs a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 5px;
  opacity: 0.7;
  transition: border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
}

/* The hover effect for header tabs */
.header-tabs a:hover {
  opacity: 1;
  border-bottom: 3px solid white;
}

/*Sign in button at the top rigth of the screen*/
.sign-in-btn {
  color: white;
  background-color: #315887;
  border-radius: 5px;
  border: rgb(171, 171, 171) 1px solid;
  align-self: center;
  margin-left: auto;
  padding: 8px 10px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/*When hovering over the sign in button*/
.sign-in-btn:hover {
  background-color: #6889aa;
  transition: 0.5s ease;
}

/*--- BREADCRUM BAR ---*/
/*The white breadcrum bar under the main blue header bar*/
.breadcrumb-bar {
  background-color: white;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  flex-shrink: 0;
}

.subheading {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.subheading span {
  opacity: 0.7;
}

/*The seperator between the current page link and name*/
.subheading .seperator {
  padding: 0 8px;
}

/*The current page link*/
.subheading a {
  text-decoration: none;
  color: #003366;
}

/*When hovering over the current page link*/
.subheading a:hover {
  text-decoration: underline;
}

/*Main div body wrapper for the app*/
.app-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 95px);
  flex-shrink: 0;
  width: 100%;
}

/*--- THE FOOTER SECTION ---*/
footer {
  background-color: #003366;
  color: white;
  width: 100%;
  flex-shrink: 0;
  z-index: 10;
  position: relative;
}

/*Main footer container*/
.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 20px;
}

/*Individual footer column*/
.footer-col {
  flex: 1;
  min-width: 200px;
}

/*BCIT logo*/
.footer-logo img {
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
}

/*Footer headers*/
.footer-col h4 {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*Footer column body paragraphs*/
.footer-col p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 13px;
}

/*Footer colum list*/
.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

/*When hovering over a footer column list item (link)*/
.footer-col ul li a:hover {
  text-decoration: underline;
}

/*Bottom legal bar*/
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
}

/*Footer bottom legal links*/
.footer-bottom-links {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom-links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

/*When hovering over footer bottom legal links*/
.footer-bottom-links a:hover {
  text-decoration: underline;
}

/* formatting for the view, create, and cancel buttons */
.reservation-btn a {
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reservation-btn .view:hover {
  background-color: #114a82;
}

.reservation-btn .edit:hover {
  background-color: #114a82;
}

.reservation-btn .cancel:hover {
  background-color: #9a1414;
}

.reservation-btn .cancel {
  color: white;
  background-color: rgb(222, 16, 16);
}

.reservation-btn .view {
  color: white;
  background-color: #0e6ac5;
}

.reservation-btn .edit {
  color: white;
  background-color: #0e6ac5;
}

/* container for all reservations 
allows buttons to be on the same line as the info
*/
.all-reservations {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  gap: 30px;
  margin: 5px 250px;
  margin-bottom: 30px;
}

/* styles/format for each induvidual reservations (p tags and a tags) */
.induvidual-reservation {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
}

.induvidual-reservation:hover {
  box-shadow: 0 1px 1px grey;
}

/* format for p tags and the distance between the a tags */
.info-reservation {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  align-items: stretch;
}

/* make the p tags closer together so that each reservation does not get too large */
.info-reservation p {
  margin: 2px 3px;
}

/* style for the stall location */
.info-reservation .stall-location {
  color: rgb(45, 45, 171);
  text-decoration: underline;
  font-size: 25px;
}

/* style for the purchase dates */
.induvidual-reservation .basic-info-reservation {
  color: grey;
}

/* format/style for the create new reservation link */
.reservation-create {
  background-color: #0e6ac5;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border: none;
  width: fit-content;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20%;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.reservation-create:hover {
  background-color: #114a82;
}

.reservation-heading {
  display: flex;
  flex-direction: column;
  background-color: #003366;
}

.reservation-heading h1 {
  color: white;
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 5px;
}

.reservation-heading p {
  color: lightgray;
  margin-top: 5px;
  margin-left: 10%;
  font-size: 12px;
}

/* styling for today, upcoming, and cancelled buttons */
.status {
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 15px;
  justify-content: center;
  gap: 20%;
}

.status-buttons {
  border: none;
  margin-bottom: 5px;
  background: none;
  color: grey;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
}

.status-buttons:hover {
  color: #114a82;
  border-bottom: 2px solid #114a82;
}

/* makes it so that new styling stays when clicked until another click 
    which then reverts the styling back to the original
*/
.status-buttons:focus {
  color: #114a82;
  border-bottom: 2px solid #114a82;
}
